{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": ["Chrome > 60", "Firefox > 50", "edge > 13"]
                }
            }
        ]
    ]
}