{
    "env": {
        "browser": true
    },
    "extends": [
        "airbnb-base",
        "prettier"
    ],
    "rules": {
        "prefer-const":"off"
    },
    "plugins": [
        "prettier"
    ]
}