.btn {
    padding: 10px 5px;
    background-color: transparent;
    color: blue;
    font-size: 20px;
    display: inline-block;
}

.btn--succes {
    background-color: green;
}
.btn--danger {
    background-color: red;
}
.btn--warning {
    background-color:orange;
}
.btn--loading  {
    pointer-events: none;
}
.btn__loading-text {
    display: block;
}
.btn__not-loading-text {
    display: none;
}
.btn--loading .btn__not-loading-text {
    display: none;
}
